@import 'tailwindcss';

#root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.flex-centerAll {
    @apply flex items-center justify-center;
}
